[Unit]
Description=LED
Wants=sound.target
After=sound.target

[Service]
Type=idle
ExecStart=/home/pi/Riesen-Tetris-3/install/start_tetris.sh
ExecStop=/home/pi/Riesen-Tetris-3/install/stop_tetris.sh
WorkingDirectory=/home/pi/Riesen-Tetris-3
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=tetris
Restart=on-failure
RestartSec=20
User=root
Group=root
Environment=SYSTEMD_LOG_LEVEL=debug

[Install]
WantedBy=sound.target
Alias=LED.service


